body {
    font-family: 'Roboto', sans-serif!important;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.mainscreen
{
    height: 100%;
	display: flex;
    flex-direction: column;
    background-color: #DFDBE5;

    color:#963E7B;
}

.checkoutcard {
    
	width: 60rem;
    margin: auto;
    background-color: #ffffff;
    position:center;
    align-self: center;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #3535358c;

    
}

.leftside {
    width: 30rem;
    align-items: flex-start;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}


.card h2 {
    margin-bottom: 1rem;
}

.product {
    object-fit: cover;
	width: 20em;
    height: 20em;
    border-radius: 100%;
}

.rightside {
align-items: flex-start;
	width: 30rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

.mainscreen p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}

.inputbox
{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 1.1rem;
    font-weight: 500;
  outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}


